.news_filter_button {
	color: black;
	font-size: 100%;
	font-weight: normal;
	background-color: #f8f8f8;
	border: 1px solid #aba;
	padding: 2px 8px;
	margin: 0 8px;
	min-width: 130px;
	text-decoration: none;
	float: center;
}

#news_filter_header {
	display: block;
	padding: 12px 8px;
	margin: 0;
	color: rgba(0, 0, 0, 0.8);
	background: DodgerBlue;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #eee;
}

@media print{
	display: none;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
	cursor:pointer
}

